{% extends "base.html" %}

{% include 'math_jax.html' %}

{% block title %}New Equation{% endblock %}

{% block content %}
    <main>
        Enter a custom equation below in LaTeX. Any time you need to use '\\' please use '\\\\' instead.
        <form method="POST">
            {{ form.csrf_token }}
            <div>
                {{ form.lhs(placeholder='left-hand side') }}={{ form.rhs(placeholder='right-hand side') }}
            </div>
            <div>
                <p id='renderBut'>Render</p>
                <div id='renderSpot'></div>
                {{ form.submit(hidden=True) }}
            </div>
        </form>
    </main>
    <script>
        document.getElementById('renderBut').addEventListener('click', () => {
            lhs = document.getElementById('lhs').value
            rhs = document.getElementById('rhs').value
            document.getElementById('renderSpot').textContent = `$$${lhs}=${rhs}$$`
            MathJax.typeset()
            document.getElementById('submit').hidden = false
        })
    </script>
{% endblock %}